{% extends 'base.html.twig' %}

{% block title %}Les balades éducatives {% endblock %}

{% block body %}
    <style>
    
    .Contenu{
        width:90%;
        height:auto;
        background:white;
        margin-left:auto;
        margin-right:auto;
        text-align:center;
        margin-bottom:50px;
        font-size:40px;
        font-weight:bold;
        padding-top:50px;
    }
    body{
        font:caption;
        background:#f7d794;
    }
    text{
        font-size:20px;
        font-weight: normal;
    }
    .PresentationActivite{
        width:100%;
        height:auto;
        margin-top:30px;
        margin-bottom:0px;
        padding:30px;
    }
    .ObjectifActivite{
        width:100%;
        margin-top:250px;
        height:auto;
        padding-bottom:75px;
    }
    .ActiviteGauche{
        width:30%;
        float:left;
        display:inline-block;
    }
    .ActiviteMilieu{
        width:30%;
        display:inline-block;
        border-left:1px solid #9b59b6;
        border-right:1px solid #9b59b6;
    }
    .ActiviteDroite{
        width:30%;
        float:right;
        display:inline-block;
    }
    .TroisObjectifs{
        width:90%;
        margin-left:auto;
        margin-right:auto;
        height:auto;
        margin-top:50px;
        margin-bottom:50px;
    }
    .TroisObjectifs2{
        width:90%;
        margin-left:auto;
        margin-right:auto;
        height:auto;
        margin-top:0px;
        margin-bottom:50px;
    }
 
    .CcspBilan{
        margin-bottom:150px;
        width:100%;
        height:450px;
        padding:50px;
        margin-top:50px;
        
    }
    @media (max-width: 1760px){
            .PicSupperpo3{
                display:show
            }
            .PicSupperpoResponsive{
                display:none;
            }
        }
    @media (min-width: 1760px){
            .PicSupperpoResponsive{
                display:none;
            }
        }
    .Tarif{
       margin-top:50px;
        width:100%;
        height:auto;
        padding:50px; 
        
    }
    .DivGauche{
        float:left;
        width:30%;
        margin-left:-100px;
        height:500px;
        background:white;
        box-shadow: 4px 4px 4px 4px #95a5a6; 
        border-radius:7px;
    }
    .TitreTarif{
        width:100%;
        height:100px;
        padding-top:25px;
        background:#9b59b6;
        text-align:center;
        margin-right:auto;
        
        
    }
    .TitreTarifRsp{
        width:113%;
        height:100px;
        padding-top:25px;
        background:#9b59b6;
        text-align:center;
        margin-left:-6.5%;
        margin-right:auto;
    }
    .TitreHaut{
        background:#9b59b6;
        border-radius:7px;
        width:100%;
        height:20px;
        margin-bottom:-10px;
      
    }
    .PicDroite{
        float:right;
        width:40%;
        height:450px;
        margin-top:100px;
        margin-right:7.5%;
    }
    .contenuTarif{
        height:400px;
        margin-top:0px;
        padding:25px;
    }
    .TarifBilan{
        margin-top:1100px;
        width:400px; 
        height:auto;
        margin-left:2.5%;
        border-radius:7px;
        z-index:2;
        display: flex;
    }
    .ButtonService{
        border-radius: 20px; 
        padding:15px;  
        background-color: #9b59b6;
        color:white;
        text-decoration: none; 

    }
    .ButtonService:hover{
        border: 3px solid #f1c40f;
        background-color: #9b59b6;
        transition-duration: 0.5s;
        color: white; 
    }
    a{
        text-decoration:none;    
    }
   
    .ClassBtn{
        width:150px;
        margin-left:150px;
        height:60px;
        margin-top:50px;
        border-radius: 15px; 
        Background-color: #9b59b6;  
    }
    .ClassBtn:hover{
        border: 3px solid #f1c40f;
    }
   
    .Prix{
        width:100%;
        height:75px;
        margin-left:auto;
        margin-right:auto;
        margin-bottom:50px;
        padding-left:0px;
        
    }
    
    .PresentationActiviteResponsive{
        display:none;
    }
    .CcspBilanResponsive{
            display:none;
    }
    .TitreRsp{
        display:none;
    }
    .T1{
        font-size:50px;
        text-align:center;
    }
    .T2{
        font-size:55px;
        text-align:center;  
        color:#9b59b6;
    }
    .Espaceur{
        margin-bottom:70px;
    }
    .ObjectifActiviteResponsive{
        display:none;
    }
    .TarifResponsive{
        display:none;
    }
    .PrixResponsive{
        display:none;
    }

    @media (max-width: 900px){

        .PresentationActivite{
            display:none;
        }
        .PresentationActiviteResponsive{
            display:block;
            width:100%;
            height:auto;
            margin-top:30px;
            margin-bottom:0px;
            padding:30px;
        }
        .CcspBilan{
            display:none;
        }
        .CcspBilanResponsive{
            display:block;
            margin-bottom:50px;
            width:100%;
            height:auto;
            padding:20px;
        }
        .T1{
            font-size:30px;
             text-align:center;
        }
        .T2{
            font-size:35px;
            text-align:center;  
            color:#9b59b6;
        }
        .Espaceur{
            margin-bottom:20px;
        }
        .ObjectifActivite{
            display:none;
        }
        .ObjectifActiviteResponsive{
            display:block;
            width:100%;
            margin-top:50px;
            height:auto;
            padding-bottom:50px;
            padding-left:25px;
            padding-right:25px;

        }
        .TarifResponsive{
            display:block;
            width:100%;
            margin-top:50px;
            height:auto;
            padding-bottom:50px;
        }
        .contenuTarifResponsive{
             height:auto;
            margin-top:0px;
            padding:25px;
        }
        .PrixResponsive{
        width:100%;
        height:auto;
        margin-left:auto;
        margin-right:auto;
        margin-bottom:50px;
        
    }
        
            
    }
   
    
    </style>
    <div style=" width:100%; height:200px;"></div>
    <div class="Contenu">
        
            <text  class="T1" >Les </text><text class="T2"> balades éducatives </text>
        
            <div class="Séparateur" style="border-bottom:3px solid #f1c40f; margin-left:35%;margin-right:auto;width:33%;  margin-top:-20px; margin-bottom:30px;height:30px;float:center;" ></div>
            <div class="Espaceur"></div>
        
        

        <div class="PresentationActivite">
      
            <div class="Conteneur_Pic_TXT" style="width:100%; height:550px;">
                <div class="TxtDroiteB_E" style="float:right; width:45%; height:450px; margin-top:0px;margin-right:35px;padding-right:30px;">
                    <text style="font-size:30px;font-weight: ; background:#9b59b6; color:white; ">Préparation de votre chien à la vie en société, à des environnements différents et avec d'autres chiens.</text>
                    </br>
                    <text>Les sessions de cours collectifs d’éducation canine vous permettront de pratiquer au sein d’un groupe en situation réelle, de la vie quotidienne.</text>
                    </br>
                    <text>Pour tous les chiens, de toutes races, de tous âges et de toutes problématiques.</text>
                    </br></br>
                    <text>Vous y retrouverez 2 groupes : Adulte et Chiot.</text>
                    </br>
                    <text>Votre chien trouvera au cours de ses balades éducatives le moyen d’être lui-même, c'est-à-dire un chien parmi ses semblables. En tant que maître, vous trouverez un moyen efficace de renforcer la confiance en votre chien.</text>
                    <br>
                    <text>Elles se déroulent régulièrement au Parc de Richelieu, d’une durée d’une 1h30 et d’une manière générale le week-end. Les dates seront visibles sur les évênements mis en ligne sur Facebook.    </text> 
                    
                    <text style="font-size:35px;">→</text>
                    <a href="https://www.facebook.com/decarapattes/events">
                    <button style="font:caption; margin-top:-10px; margin-left:20px;" href="https://www.facebook.com/decarapattes/events" class="ButtonFooter"> <img style="widht:100px; height:30px;"src="{{ asset('PhotoRS/LogoFacebookBlanc.png') }}"/>Suivez moi</button>
                    </a>
                </div>
                
                <div class="PicSupperpo3" style="margin-top:-40px;width:50%; height:550px; margin-left:0px; float:left;">
                    <img class="Pic1" style="width:300px;  height:350px; margin-top:20px; border-radius:10px;"src="{{asset('PhotoBaladeEducative/BaladeEducative.jpg')}}"/>
                    <img class="Pic3"style="width:330px;  height:250px; margin-left:-50px; margin-top:10px; border-radius:10px;"src="{{asset('PhotoBaladeEducative/ChienBalade.jpg')}}"/>
                    <br>
                    <img class="Pic2"style="width:380px;  height:300px; margin-left:50px;margin-top:-80px; border-radius:10px;"src="{{asset('PhotoBaladeEducative/ChienBaladeEducative.jpg')}}"/>
                </div>

            
            </div>
        </div>

    

        <div class="PresentationActiviteResponsive">
      
            <div class="Conteneur_Pic_TXT" style="width:100%; height:auto;">
                    <text style="font-size:30px;font-weight: ; background:#9b59b6; color:white; ">Préparation de votre chien à la vie en société, à des environnements différents et avec d'autres chiens.</text>
                    </br>
                    <img  style="width:100%;  margin-left:auto; margin-right:auto; height:auto; margin-top:20px; border-radius:10px;"src="{{asset('PhotoBaladeEducative/BaladeEducative.jpg')}}"/>
                    <br>
                    <text>Les sessions de cours collectifs d’éducation canine vous permettront de pratiquer au sein d’un groupe en situation réelle, de la vie quotidienne.</text>
                    </br>
                    <img class="Pic3"style="width:100%;  margin-left:auto; margin-right:auto; height:auto;  margin-top:10px; border-radius:10px;"src="{{asset('PhotoBaladeEducative/ChienBaladeEducative.jpg')}}"/>
                    <br>
                    <text>Pour tous les chiens, de toutes races, de tous âges et de toutes problématiques.</text>
                    </br>
                    <text>Vous y retrouverez 2 groupes : Adulte et Chiot.</text>
                    </br>
                    <img class="Pic2"style="width:100%;  margin-left:auto; margin-right:auto; height:auto;  margin-top:10px;border-radius:10px;"src="{{asset('PhotoBaladeEducative/ChienBalade.jpg')}}"/>
                    <br>
                    <text>Votre chien trouvera au cours de ses balades éducatives le moyen d’être lui-même, c'est-à-dire un chien parmi ses semblables. En tant que maître, vous trouverez un moyen efficace de renforcer la confiance en votre chien.</text>
                    <br>
                    <text>Elles se déroulent régulièrement au Parc de Richelieu, d’une durée d’une 1h30 et d’une manière générale le week-end. Les dates seront visibles sur les évênements mis en ligne sur Facebook.    </text> 
                    <br>
                    <a href="https://www.facebook.com/decarapattes/events">
                    <button style="font:caption; margin-top:-10px; margin-left:20px;" href="https://www.facebook.com/decarapattes/events" class="ButtonFooter"> <img style="widht:100px; height:30px;"src="{{ asset('PhotoRS/LogoFacebookBlanc.png') }}"/>Suivez moi</button>
                    </a>
            </div>    
        </div>


        <div class="CcspBilan">
        
            <div class="DivGauche">
                <div class="TitreHaut">
                </div>
                <div class="TitreTarif">
                    <text style="color:white; font-size:30px;">Balade éducative </text>
                </div>
                <div class="contenuTarif" >
                    <div class="Prix">
                        <text style=" text-align:;color:#9b59b6;font-size:25px;padding-top:150px;"></text>
                        <text style=" text-align:center;color:#9b59b6;font-size:90px;">10</text><text style="color:#9b59b6;font-size:20px;">€</text>
                        <div class="Séparateur" style="border-bottom:3px solid #f1c40f; margin-left:42.3%;margin-right:auto;width:17%;  margin-top:-30px; margin-bottom:30px;height:30px;float:center;" ></div>
            
                    </div>
                    
                    <img style="width:25px; margin-left:25%; height:25px; float:left; "src="{{asset('ConseilAdoption/IconHorloge2.png')}}"/>
                    <text style=" color:#9b59b6;float:left; padding-left:25px; font-size:25px;">1 ~ 1h30</text>
                <br>
                    <div style="margin-top:20px;"></div>

                    <img style="width:25px;  margin-left:25%;height:25px; float:left;  "src="{{asset('CoursCollectif/IconCity.png')}}"/>
                    <text style=" color:#9b59b6;float:left; padding-left:25px;font-size:20px;">Un environnement adapter    </text>
                    <br>
                    
                    <div style=" margin-top:5%;"></div>
                    
                    <a href="http://192.168.1.20:10002/index.php/contact"class="ButtonService">Réserver <img style="width:25px;  height:25px;  "src="{{asset('PhotoBilan/IconFleche.png')}}"/></a>    
                </div>
            </div>

            <text style="font-size:40px;font-weight: normal; text-align:center; ">La balade éducative, </text><text style="font-size:45px;text-align:center; font-weight: normal; color:#9b59b6; "> pourquoi?</text>
            <div class="Séparateur" style="padding-top:30px;border-bottom:2px solid #f1c40f; margin-left:450px;margin-right:auto;width:60%;   height:30px;float:center;" ></div>

            <video style="margin-top:60px;float:right; border-radius:10px; margin-left:50px; margin-right:0px;" width="400px" height="auto" controls>
                <source src="{{asset('PhotoBaladeEducative/Balade.mp4')}}" type="video/mp4">
            </video>
            
            <div style="float:right;   margin-left: ;width:35%; margin-top:45px;">
            <text>Lorsque votre chien a atteint un certain niveau d’écoute en individuel, les cours en groupe offrent un perfectionnement de son obéissance en présence d’autres chiens.</text>
            <br>
            <text>Les cours collectifs permettent la mise en pratique d'exercices dans des situations de la vie courante. Chacune des séances collectives vous donnera l’occasion d’apprendre à votre animal des situations variées telles que la rencontre avec d’autres chiens, de la distraction, des bruits etc…</text>
            </div>
               
           
        </div>

        <div class="CcspBilanResponsive">
        
            <text style="font-size:40px;font-weight: normal; text-align:center; ">La balade éducative, </text><text style="font-size:45px;text-align:center; font-weight: normal; color:#9b59b6; "> pourquoi?</text>
            <div class="Séparateur" style="padding-top:30px;border-bottom:2px solid #f1c40f; margin-left:18%;margin-right:auto;width:60%;   height:30px;float:center;" ></div>
         


            <video style="margin-top:60px;float:right; border-radius:10px; margin-left:auto; margin-right:auto;" width="100%" height="auto" controls poster="{{asset('PhotoBaladeEducative/ChienBalade.jpg')}}">
                <source src="{{asset('PhotoBaladeEducative/Balade.mp4')}}" type="video/mp4">
            </video>

            <div style="   margin-left:auto;margin-right:auto;width:100%; margin-top:45px;">
            <text>Lorsque votre chien a atteint un certain niveau d’écoute en individuel, les cours en groupe offrent un perfectionnement de son obéissance en présence d’autres chiens. <text>
            <div style="margin-top:25px;"></div>
            <text>Les cours collectifs permettent la mise en pratique d'exercices dans des situations de la vie courante. Chacune des séances collectives vous donnera l’occasion d’apprendre à votre animal des situations variées telles que la rencontre avec d’autres chiens, de la distraction, des bruits etc…</text>
             
            </div>
               
           
        </div>


         <div class="ObjectifActivite">

             <text style="font-size:40px;font-weight: normal; text-align:center; ">Les </text><text style="font-size:45px;text-align:center; font-weight: normal; color:#9b59b6; "> objectifs</text>
            <div class="Séparateur" style="padding-top:30px;border-bottom:2px solid #f1c40f; margin-left:auto;margin-right:auto;width:60%;   height:30px;float:center;" ></div>
         
            <div class="TroisObjectifs">
                <div class="ActiviteGauche">
                    <img style="width:75px;  height:75px;  "src="{{asset('CoursCollectif/iconLivre.png')}}"/>
                    </br>
                    <text style="padding-left:10px;">Apprentissage des ordres de bases hors contexte de la maison (la marche en laisse "ne pas tirer", le rappel, assis, couché, pas bouger etc...)</text>
                </div>
                
                <div class="ActiviteMilieu">
                    <img style="width:75px;  height:75px;  "src="{{asset('CoursCollectif/iCon2Chien.png')}}"/>
                    </br>
                    <text style="padding-left:10px;">Côtoyer et interagir avec d’autres chiens (socialisation)</text>
                </div>

                <div class="ActiviteDroite">
                    <img style="width:75px;  height:75px;   "src="{{asset('CoursCollectif/iconHautParleur.png')}}"/>
                    </br>
                    <text style="padding-left:10px; ">Améliorer la communication intraspécifique (lacunes pour certain chien à communiquer avec ses congénères)</text>
                </div>
            </div>
            <br>
            <div class="TroisObjectifs2">
                <div class="ActiviteGauche">
                    <img style="width:75px;  height:75px;   "src="{{asset('CoursCollectif/iconMain.png')}}"/>
                    </br>
                    <text style="padding-left:10px;">Initier le propriétaire à la psychologie canine, au comportement canin, à la communication, à une écoute mutuelle et au respect mutuel.</text>
                </div>
                    
                <div class="ActiviteMilieu">
                    <img style="width:75px;  height:75px;   "src="{{asset('CoursCollectif/iconMaitreEtChien.png')}}"/>
                    </br>
                    <text style="padding-left:10px;">Etablir une bonne relation avec son chien.</text>
                </div>

                <div class="ActiviteDroite">
                    <img style="width:75px;  height:75px;   "src="{{asset('CoursCollectif/iconChienAgressif.png')}}"/>
                    </br>
                    <text style="padding-left:10px;">Aider les chiens qui ont des phobies (travail en désensibilisation)</text>
                </div> 
            </div> 

            <br>
            <br>

            <div class="TroisObjectifs2">        
                <div style="float:left;"><img style="width:100px;  height:100px;   "src="{{asset('CoursCollectif/iconAttention.png')}}"/></div>

                <div style="float:right; width:93%">
                <text style="font-size:35px; color:#9b59b6;">Attention,</text><text> vôtre chien devra être âgé de 8 mois minimum pour les balades éducatives adultes et de moins de 7 mois pour les balades éducative chiots. </text>
                <br>
                <text>Être vacciné, être régulièrement vermifugé et traité contre les parasites (puces, tiques…)</text>
                <br>
                <text>Sociable, sans agressivité pour les personnes ne faisant pas partie de ma clientèle.  </text>
                </div>
               


            </div>
            <div style="margin-bottom:150px;"></div>
        </div>

         <div class="ObjectifActiviteResponsive">

             <text style="font-size:40px;font-weight: normal; text-align:center; ">Les </text><text style="font-size:45px;text-align:center; font-weight: normal; color:#9b59b6; "> objectifs</text>
            <div class="Séparateur" style="padding-top:30px;border-bottom:2px solid #f1c40f; margin-left:auto;margin-right:auto;width:60%;   height:30px;float:center;" ></div>
                <div style="margin-top:50px;"></div>
                <img style="width:75px;  height:75px;  "src="{{asset('CoursCollectif/iconLivre.png')}}"/>
                </br>
                <text style="padding-left:10px;">Apprentissage des ordres de bases hors contexte de la maison (la marche en laisse "ne pas tirer", le rappel, assis, couché, pas bouger etc...)</text>

                <br>
                <div class="Séparateur" style="padding-top:30px;border-bottom:1px solid #9b59b6; margin-left:auto;margin-right:auto;width:60%;   height:30px;float:center;" ></div>
                <div style="margin-top:20px;"></div>

                <img style="width:75px;  height:75px;  "src="{{asset('CoursCollectif/iCon2Chien.png')}}"/>
                </br>
                <text style="padding-left:10px;">Côtoyer et interagir avec d’autres chiens (socialisation)</text>
              
                <br>
                <div class="Séparateur" style="padding-top:30px;border-bottom:1px solid #9b59b6; margin-left:auto;margin-right:auto;width:60%;   height:30px;float:center;" ></div>
                <div style="margin-top:20px;"></div>

                <img style="width:75px;  height:75px;   "src="{{asset('CoursCollectif/iconHautParleur.png')}}"/>
                </br>
                <text style="padding-left:10px; ">Améliorer la communication intraspécifique (lacunes pour certain chien à communiquer avec ses congénères)</text>
                
                <br>
                <div class="Séparateur" style="padding-top:30px;border-bottom:1px solid #9b59b6; margin-left:auto;margin-right:auto;width:60%;   height:30px;float:center;" ></div>
                <div style="margin-top:20px;"></div>
           
                <img style="width:75px;  height:75px;   "src="{{asset('CoursCollectif/iconMain.png')}}"/>
                </br>
                <text style="padding-left:10px;">Initier le propriétaire à la psychologie canine, au comportement canin, à la communication, à une écoute mutuelle et au respect mutuel.</text>
                
                <br>
                <div class="Séparateur" style="padding-top:30px;border-bottom:1px solid #9b59b6; margin-left:auto;margin-right:auto;width:60%;   height:30px;float:center;" ></div>
                <div style="margin-top:20px;"></div>
                
                <img style="width:75px;  height:75px;   "src="{{asset('CoursCollectif/iconMaitreEtChien.png')}}"/>
                </br>
                <text style="padding-left:10px;">Etablir une bonne relation avec son chien.</text>
                
                <br>
                <div class="Séparateur" style="padding-top:30px;border-bottom:1px solid #9b59b6; margin-left:auto;margin-right:auto;width:60%;   height:30px;float:center;" ></div>
                <div style="margin-top:20px;"></div>
                
                <img style="width:75px;  height:75px;   "src="{{asset('CoursCollectif/iconChienAgressif.png')}}"/>
                </br>
                <text style="padding-left:10px;">Aider les chiens qui ont des phobies (travail en désensibilisation)</text>

                <div style="margin-top:15%;"></div>

                <div class="TroisObjectifs2">        
                    <div style="float:;"><img style="width:100px;  height:100px;  margin-right:auto; margin-left:auto; "src="{{asset('CoursCollectif/iconAttention.png')}}"/></div>

                    <div style="float:right; width:93%">
                    <text style="font-size:35px; color:#9b59b6;">Attention,</text><text> vôtre chien devra être âgé de 8 mois minimum pour les balades éducatives adultes et de moins de 7 mois pour les balades éducative chiots. </text>
                    <br>
                    <text>Être vacciné, être régulièrement vermifugé et traité contre les parasites (puces, tiques…)</text>
                    <br>
                    <text>Sociable, sans agressivité pour les personnes ne faisant pas partie de ma clientèle.  </text>
                </div>
               

            </div>
            <div style="margin-bottom:800px;"></div>


                <div class="TitreTarifRsp">
                        <text style="color:white; font-size:30px;">Balade éducative </text>
                    </div>
                    <div class="contenuTarifResponsive" >
                        <div class="Prix">
                            <text style=" text-align:;color:#9b59b6;font-size:25px;padding-top:150px;"></text>
                            <text style=" text-align:center;color:#9b59b6;font-size:90px;">10</text><text style="color:#9b59b6;font-size:20px;">€</text>
                            <div class="Séparateur" style="border-bottom:3px solid #f1c40f; margin-left:42.3%;margin-right:auto;width:17%;  margin-top:-30px; margin-bottom:30px;height:30px;float:center;" ></div>
                
                        </div>
                        
                        <img style="width:25px; margin-left:15%; height:25px; float:left; "src="{{asset('ConseilAdoption/IconHorloge2.png')}}"/>
                        <text style=" color:#9b59b6;float:left; padding-left:25px; font-size:25px;">1 ~ 1h30</text>
                        <br>
                        <div style="margin-top:5%;"></div>

                        <img style="width:25px;  margin-left:-5%;height:25px; float:left;  "src="{{asset('CoursCollectif/IconCity.png')}}"/>
                        <text style=" color:#9b59b6;float:left;padding-top:5px; padding-left:20px;font-size:17px;">Un environnement adapter</text>
                        <br>
                        
                        <div style=" margin-top:5%;"></div>
                        
                        <a href="http://192.168.1.20:10002/index.php/contact"class="ButtonService">Réserver <img style="width:25px;  height:25px;  "src="{{asset('PhotoBilan/IconFleche.png')}}"/></a>    
                    </div>
                </div>



        

    </div>
    
    
    

    

{% endblock %}
