{% extends 'base.html.twig' %}

{% block title %}Les cours collectifs{% endblock %}

{% block body %}
    <style>
    
    .Contenu{
        width:90%;
        height:auto;
        background:white;
        margin-left:auto;
        margin-right:auto;
        text-align:center;
        margin-bottom:50px;
        font-size:40px;
        font-weight:bold;
        padding-top:50px;
    }
    body{
        font:caption;
        background:#f7d794;
    }
    text{
        font-size:20px;
        font-weight: normal;
    }
    .PresentationActivite{
        width:100%;
        height:auto;
        margin-top:30px;
        margin-bottom:0px;
        padding:30px;
    }
    .ObjectifActivite{
        width:100%;
        margin-top:250px;
        height:auto;
        padding-bottom:50px;
    }
    .ActiviteGauche{
        width:30%;
        float:left;
        display:inline-block;
    }
    .ActiviteMilieu{
        width:30%;
        display:inline-block;
        border-left:1px solid #9b59b6;
        border-right:1px solid #9b59b6;
    }
    .ActiviteDroite{
        width:30%;
        float:right;
        display:inline-block;
    }
    .TroisObjectifs{
        width:90%;
        margin-left:auto;
        margin-right:auto;
        height:auto;
        margin-top:50px;
        margin-bottom:50px;
    }
    .TroisObjectifs2{
        width:90%;
        margin-left:auto;
        margin-right:auto;
        height:auto;
        margin-top:0px;
        margin-bottom:50px;
    }
 
    .CcspBilan{
        margin-bottom:150px;
        width:100%;
        height:450px;
        padding:50px;
        margin-top:50px;
        
    }
    @media (max-width: 1760px){
            .PicSupperpo3{
                display:show
            }
            .PicSupperpoResponsive{
                display:none;
            }
    }
    @media (min-width: 1760px){
            .PicSupperpoResponsive{
                display:none;
            }
        }
    .Tarif{
       margin-top:50px;
        width:100%;
        height:auto;
        padding:50px; 
        
    }
    .DivGauche{
        float:left;
        width:30%;
        margin-left:-100px;
        height:500px;
        background:white;
        box-shadow: 4px 4px 4px 4px #95a5a6; 
        border-radius:7px;
    }
    .TitreTarif{
        width:100%;
        height:100px;
        padding-top:25px;
        background:#9b59b6;
        text-align:center;
        
    }
    .TitreHaut{
        background:#9b59b6;
        border-radius:7px;
        width:100%;
        height:20px;
        margin-bottom:-10px;
      
    }
    .PicDroite{
        float:right;
        width:40%;
        height:450px;
        margin-top:100px;
        margin-right:7.5%;
    }
    .contenuTarif{
        height:400px;
        margin-top:0px;
        padding:25px;
    }
    .TarifBilan{
        margin-top:1100px;
        width:400px; 
        height:auto;
        margin-left:2.5%;
        border-radius:7px;
        z-index:2;
        display: flex;
    }
    .ButtonService{
        border-radius: 20px; 
        padding:15px;  
        background-color: #9b59b6;
        color:white;
        text-decoration: none; 

    }
    .ButtonService:hover{
        border: 3px solid #f1c40f;
        background-color: #9b59b6;
        transition-duration: 0.5s;
        color: white; 
    }
    a{
        text-decoration:none;    
    }
   
    .ClassBtn{
        width:150px;
        margin-left:150px;
        height:60px;
        margin-top:50px;
        border-radius: 15px; 
        Background-color: #9b59b6;  
    }
    .ClassBtn:hover{
        border: 3px solid #f1c40f;
    }
   
    .Prix{
        width:100%;
        height:75px;
        margin-left:auto;
        margin-right:auto;
        margin-bottom:50px;
        padding-left:0px;
        
    }
    
    .PresentationActiviteResponsive{
        display:none;
    }
    .CcspBilanResponsive{
            display:none;
    }
    .TitreRsp{
        display:none;
    }
    .T1{
        font-size:50px;
        text-align:center;
    }
    .T2{
        font-size:55px;
        text-align:center;  
        color:#9b59b6;
    }
    .Espaceur{
        margin-bottom:70px;
    }
    .ObjectifActiviteResponsive{
        display:none;
    }
    .TarifResponsive{
        display:none;
    }
    .PrixResponsive{
        display:none;
    }
    .Pic1:hover{
        
            transform: scale(1.05);
            transition: .3s ease-in-out;
    }
    .conteneurCercle{
        margin-bottom:80px;
        margin-top:-25px;
    }
    .ConsigneSecu{
        display:block;
        width:100%;
        height:650px;
        margin-left:auto;
        margin-right:auto;
        margin-top:150px;
        padding-left:2.5%;
        padding-right:2.5%;
    }
    .ConsigneSecuRsp{
        display:none;
    }
    

    @media (max-width: 900px){
        .ConsigneSecuRsp{
            display:block;
            width:100%;
            height:1600px;
            margin-left:auto;
            margin-right:auto;
            margin-top:150px;
            padding-left:2.5%;
            padding-right:2.5%;
        }
        .ConsigneSecu{
            display:none;
        }
        .PresentationActivite{
            display:none;
        }
        .PresentationActiviteResponsive{
            display:block;
            width:100%;
            height:auto;
            margin-top:30px;
            margin-bottom:0px;
            padding:30px;
        }
        .CcspBilan{
            display:none;
        }
        .CcspBilanResponsive{
            display:block;
            margin-bottom:50px;
            width:100%;
            height:auto;
            padding:20px;
        }
        .T1{
            font-size:30px;
             text-align:center;
        }
        .T2{
            font-size:35px;
            text-align:center;  
            color:#9b59b6;
        }
        .Espaceur{
            margin-bottom:20px;
        }
        .ObjectifActivite{
            display:none;
        }
        .ObjectifActiviteResponsive{
            display:block;
            width:100%;
            margin-top:50px;
            height:auto;
            padding-bottom:50px;
        }
        .TarifResponsive{
            display:block;
            width:100%;
            margin-top:50px;
            height:auto;
            padding-bottom:50px;
        }
        .contenuTarifResponsive{
             height:auto;
            margin-top:0px;
            padding:25px;
        }
        .PrixResponsive{
        width:100%;
        height:auto;
        margin-left:auto;
        margin-right:auto;
        margin-bottom:50px;
        }
            
    }
   
    </style>
    <div style=" width:100%; height:200px;"></div>
    <div class="Contenu">
        
            <text  class="T1" >Les </text><text class="T2">cours collectifs</text>
        
            <div class="Séparateur" style="border-bottom:3px solid #f1c40f; margin-left:35%;margin-right:auto;width:33%;  margin-top:-20px; margin-bottom:30px;height:30px;float:center;" ></div>
            <div class="Espaceur"></div>
        
        

        <div class="PresentationActivite">
            <text style="font-size:40px;font-weight: ; background:#9b59b6; color:white; ">Envie de passer à un autre niveau d'éducation ?</text>
            <br>
            <div style="margin-top:45px;"></div>
            <div class="conteneurCercle">
                <img class="Pic1" style="width:300px;  height:300px; margin-top:20px; border-radius:200px;"src="{{asset('PhotoService/ChienCollectif.jpg')}}"/>
                
                <img class="Pic1" style="width:300px;  height:300px; margin-top:20px; border-radius:200px;"src="{{asset('CoursCollectif/CoursCollectifs3.jpg')}}"/>
                
                <img class="Pic1" style="width:300px;  height:300px; margin-top:20px; border-radius:200px;"src="{{asset('CoursCollectif/CoursCollectifs7.jpg')}}"/>
                
                <img class="Pic1" style="width:300px;  height:300px; margin-top:20px; border-radius:200px;"src="{{asset('CoursCollectif/CoursCO.jpg')}}"/>
            </div>

         
            <div style="padding-left:5%; padding-right:5%;">    
                </br>
                <text style=" color:#9b59b6; font-size:25px; font-weight:bold;">Lorsque votre chien a atteint un certain niveau d’écoute en individuel, les cours en groupe offrent un perfectionnement de son obéissance en présence d’autres chiens.</text>
                </br>
                <text>Les sessions de cours collectifs d’éducation canine vous permettront de pratiquer au sein d’un groupe des situations réelles de la vie quotidienne. Pour tous les chiens, de toutes races et de tous âges.</text>
                </br>
                <text>Les cours collectifs permettent la mise en pratique d'exercices dans des situations de la vie courante.</text>
                </br>
            </div>
        </div>

    

        <div class="PresentationActiviteResponsive">
      
            <div class="Conteneur_Pic_TXT" style="width:100%; height:auto;">
                    <text style="font-size:30px;font-weight: ; background:#9b59b6; color:white; ">Envie de passer à un autre niveau d'éducation ?</text>
                    </br>
                    <img  style="width:100%;  margin-left:auto; margin-right:auto; height:auto; margin-top:20px; border-radius:50px;"src="{{asset('PhotoService/ChienCollectif.jpg')}}"/>
                    <br>
                    <text  style=" color:#9b59b6; font-size:25px; font-weight:bold;">Lorsque votre chien a atteint un certain niveau d’écoute en individuel, les cours en groupe offrent un perfectionnement de son obéissance en présence d’autres chiens.</text>
                    </br>
                    <img class="Pic3"style="width:100%;  margin-left:auto; margin-right:auto; height:auto;  margin-top:10px; border-radius:50px;"src="{{asset('CoursCollectif/CoursCollectifs3.jpg')}}"/>
                    <br>
                    <text>Les sessions de cours collectifs d’éducation canine vous permettront de pratiquer au sein d’un groupe des situations réelles de la vie quotidienne. Pour tous les chiens, de toutes races et de tous âges.</text>
                    </br>
                    <text>Les cours collectifs permettent la mise en pratique d'exercices dans des situations de la vie courante.</text>
                    </br>
                    <img class="Pic2"style="width:100%;  margin-left:auto; margin-right:auto; height:auto;  margin-top:10px;border-radius:50px;"src="{{asset('CoursCollectif/CoursCollectifs7.jpg')}}"/>
               
            </div>    
        </div>


        <div class="CcspBilan">
        
            <div class="DivGauche">
                <div class="TitreHaut">
                </div>
                <div class="TitreTarif">
                    <text style="color:white; font-size:30px;">Cours collectif </text>
                </div>
                <div class="contenuTarif" >
                    <div class="Prix">
                        <text style=" text-align:;color:#9b59b6;font-size:25px;padding-top:150px;"></text>
                        <text style=" text-align:center;color:#9b59b6;font-size:90px;">20</text><text style="color:#9b59b6;font-size:20px;">€</text>
                        <div class="Séparateur" style="border-bottom:3px solid #f1c40f; margin-left:42.3%;margin-right:auto;width:17%;  margin-top:-30px; margin-bottom:30px;height:30px;float:center;" ></div>
            
                    </div>
                    
                    <img style="width:25px; margin-left:25%; height:25px; float:left; "src="{{asset('ConseilAdoption/IconHorloge2.png')}}"/>
                    <text style=" color:#9b59b6;float:left; padding-left:25px; font-size:25px;">1 heure</text>
                <br>
                    <div style="margin-top:20px;"></div>

                    <img style="width:25px;  margin-left:25%;height:25px; float:left;  "src="{{asset('CoursCollectif/IconCity.png')}}"/>
                    <text style=" color:#9b59b6;float:left; padding-left:25px;font-size:25px;">en extérieur</text>
                    <br>
                    
                    <div style=" margin-top:5%;"></div>
                    
                    <a href="http://192.168.1.20:10002/index.php/contact"class="ButtonService">Réserver <img style="width:25px;  height:25px;  "src="{{asset('PhotoBilan/IconFleche.png')}}"/></a>    
                </div>
            </div>

            <text style="font-size:40px;font-weight: normal; text-align:center; ">Un cour collectif,</text><text style="font-size:45px;text-align:center; font-weight: normal; color:#9b59b6; "> Pourquoi ?</text>
            <div class="Séparateur" style="padding-top:30px;border-bottom:2px solid #f1c40f; margin-left:450px;margin-right:auto;width:60%;   height:30px;float:center;" ></div>
         


             <img style="width:400px;  height:auto; margin-top:60px;float:right; border-radius:10px; margin-left:50px; margin-right:0px; "src="{{asset('CoursCollectif/CoursCollectifs8.jpg')}}"/>
            
            <div style="float:right;   margin-left: ;width:35%; margin-top:45px;">
            <text>Chacune des séances collectives vous donnera l’occasion d’apprendre à votre animal des situations variées telles que la rencontre avec d’autres chiens, de la distraction, des bruits etc… </text>
            <br><br>
            <text>Le but de ce cours d’éducation canine collectif est de préparer votre chien ou votre chiot à la vie en société, à des environnements différents et avec les autres chiens.</text>
             
            </div>
               
           
        </div>

        <div class="CcspBilanResponsive">
        
            <text style="font-size:40px;font-weight: normal; text-align:center; ">Un cour collectif, </text><text style="font-size:45px;text-align:center; font-weight: normal; color:#9b59b6; ">  Pourquoi ?</text>
            <div class="Séparateur" style="padding-top:30px;border-bottom:2px solid #f1c40f; margin-left:18%;margin-right:auto;width:60%;   height:30px;float:center;" ></div>
         


             <img style="width:100%;  height:auto; margin-top:60px;float:right; border-radius:10px; margin-left:auto; margin-right:auto; "src="{{asset('CoursCollectif/CoursCollectifs8.jpg')}}"/>
            
            <div style="   margin-left:auto;margin-right:auto;width:100%; margin-top:45px;">
            <text>Chacune des séances collectives vous donnera l’occasion d’apprendre à votre animal des situations variées telles que la rencontre avec d’autres chiens, de la distraction, des bruits etc… <text>
            <div style="margin-top:25px;"></div>
            <text>Le but de ce cours d’éducation canine collectif est de préparer votre chien ou votre chiot à la vie en société, à des environnements différents et avec les autres chiens.</text>
             
            </div>
               
           
        </div>


        <div class="ObjectifActivite">

             <text style="font-size:40px;font-weight: normal; text-align:center; ">Les </text><text style="font-size:45px;text-align:center; font-weight: normal; color:#9b59b6; "> objectifs</text>
            <div class="Séparateur" style="padding-top:30px;border-bottom:2px solid #f1c40f; margin-left:auto;margin-right:auto;width:60%;   height:30px;float:center;" ></div>
         
            <div class="TroisObjectifs">
                <div class="ActiviteGauche">
                    <img style="width:75px;  height:75px;  "src="{{asset('CoursCollectif/iconLivre.png')}}"/>
                    </br>
                    <text style="padding-left:10px;">Préparer votre chien à la vie en société, dans des environnements différents avec d'autres de ses congénères.</text>
                </div>
                
                <div class="ActiviteMilieu">
                    <img style="width:75px;  height:75px;  "src="{{asset('CoursCollectif/icon2ChienFaceAFace.png')}}"/>
                    </br>
                    <text style="padding-left:10px;">Côtoyer et interagir avec ses congénères (sociabilisation, adapter sa conduite...)</text>
                </div>

                <div class="ActiviteDroite">
                    <img style="width:75px;  height:75px;   "src="{{asset('CoursCollectif/iconHautParleur.png')}}"/>
                    </br>
                    <text style="padding-left:10px; ">Améliorer la communication intraspécifique par le biais de mimétismes et l'imprégnation des différents codes canins.</text>
                </div>
            </div>
            <br>
            <div class="TroisObjectifs2">
                <div class="ActiviteGauche">
                    <img style="width:75px;  height:75px;   "src="{{asset('CoursCollectif/iconMain.png')}}"/>
                    </br>
                    <text style="padding-left:10px;">Initier le propriétaire à la psychologie canine, au comportement canin, à la communication, à une écoute et au respect mutuel.</text>
                </div>
                    
                <div class="ActiviteMilieu">
                    <img style="width:75px;  height:75px;   "src="{{asset('CoursCollectif/iconMaitreEtChien.png')}}"/>
                    </br>
                    <text style="padding-left:10px;">Établir une relation de confiance avec son chien.</text>
                </div>

                <div class="ActiviteDroite">
                    <img style="width:75px;  height:75px;   "src="{{asset('CoursCollectif/iCon2Chien.png')}}"/>
                    </br>
                    <text style="padding-left:10px;">Travail de désensibilisation en ville, pour tout type de comportement.</text>
                </div> 
            </div> 
            
            <div style="margin-bottom:75px;"></div>
        </div>
         <div class="ObjectifActiviteResponsive">

            <text style="font-size:40px;font-weight: normal; text-align:center; ">Les </text><text style="font-size:45px;text-align:center; font-weight: normal; color:#9b59b6; "> objectifs</text>
            <div class="Séparateur" style="padding-top:30px;border-bottom:2px solid #f1c40f; margin-left:auto;margin-right:auto;width:60%;   height:30px;float:center;" ></div>
                <div style="margin-top:50px;"></div>
                <img style="width:75px;  height:75px;  "src="{{asset('CoursCollectif/iconLivre.png')}}"/>
                </br>
                <text style="padding-left:10px;">Préparer votre chien à la vie en société, dans des environnements différents avec d'autres de ses congénères.</text>

                <br>
                <div class="Séparateur" style="padding-top:30px;border-bottom:1px solid #9b59b6; margin-left:auto;margin-right:auto;width:60%;   height:30px;float:center;" ></div>
                <div style="margin-top:20px;"></div>

                <img style="width:75px;  height:75px;  "src="{{asset('CoursCollectif/icon2ChienFaceAFace.png')}}"/>
                </br>
                <text style="padding-left:10px;">Côtoyer et interagir avec ses congénères (sociabilisation, adapter sa conduite...)</text>
              
                <br>
                <div class="Séparateur" style="padding-top:30px;border-bottom:1px solid #9b59b6; margin-left:auto;margin-right:auto;width:60%;   height:30px;float:center;" ></div>
                <div style="margin-top:20px;"></div>

                <img style="width:75px;  height:75px;   "src="{{asset('CoursCollectif/iconHautParleur.png')}}"/>
                </br>
                <text style="padding-left:10px; ">Améliorer la communication intraspécifique par le biais de mimétismes et l'imprégnation des différents codes canins.</text>
                
                <br>
                <div class="Séparateur" style="padding-top:30px;border-bottom:1px solid #9b59b6; margin-left:auto;margin-right:auto;width:60%;   height:30px;float:center;" ></div>
                <div style="margin-top:20px;"></div>
           
                <img style="width:75px;  height:75px;   "src="{{asset('CoursCollectif/iconMain.png')}}"/>
                </br>
                <text style="padding-left:10px;">Initier le propriétaire à la psychologie canine, au comportement canin, à la communication, à une écoute et au respect mutuel.</text>
                
                <br>
                <div class="Séparateur" style="padding-top:30px;border-bottom:1px solid #9b59b6; margin-left:auto;margin-right:auto;width:60%;   height:30px;float:center;" ></div>
                <div style="margin-top:20px;"></div>
                
                <img style="width:75px;  height:75px;   "src="{{asset('CoursCollectif/iconMaitreEtChien.png')}}"/>
                </br>
                <text style="padding-left:10px;">Établir une relation de confiance avec son chien.</text>
                
                <br>
                <div class="Séparateur" style="padding-top:30px;border-bottom:1px solid #9b59b6; margin-left:auto;margin-right:auto;width:60%;   height:30px;float:center;" ></div>
                <div style="margin-top:20px;"></div>
                
                <img style="width:75px;  height:75px;   "src="{{asset('CoursCollectif/iCon2Chien.png')}}"/>
                </br>
                <text style="padding-left:10px;">Travail de désensibilisation en ville, pour tout type de comportement.</text>

                <div style="margin-top:15%;"></div>

                    <div class="TitreTarif">
                        <text style="color:white; font-size:30px;">Cour collectif </text>
                    </div>
                    <div class="contenuTarifResponsive" >
                        <div class="Prix">
                            <text style=" text-align:;color:#9b59b6;font-size:25px;padding-top:150px;"></text>
                            <text style=" text-align:center;color:#9b59b6;font-size:90px;">20</text><text style="color:#9b59b6;font-size:20px;">€</text>
                            <div class="Séparateur" style="border-bottom:3px solid #f1c40f; margin-left:42.3%;margin-right:auto;width:17%;  margin-top:-30px; margin-bottom:30px;height:30px;float:center;" ></div>
                
                        </div>
                        
                        <img style="width:25px; margin-left:25%; height:25px; float:left; "src="{{asset('ConseilAdoption/IconHorloge2.png')}}"/>
                        <text style=" color:#9b59b6;float:left; padding-left:25px; font-size:25px;">1 heure</text>
                        <br>
                        <div style="margin-top:5%;"></div>

                        <img style="width:25px;  margin-left:25%;height:25px; float:left;  "src="{{asset('CoursCollectif/IconCity.png')}}"/>
                        <text style=" color:#9b59b6;float:left; padding-left:25px;font-size:25px;">En extérieur</text>
                        <br>
                        
                        <div style=" margin-top:5%;"></div>
                        
                        <a href="http://192.168.1.20:10002/index.php/contact"class="ButtonService">Réserver <img style="width:25px;  height:25px;  "src="{{asset('PhotoBilan/IconFleche.png')}}"/></a>    
                    
                    </div>

        </div>

        <div class="ConsigneSecu">
             <text style="font-size:40px;font-weight: normal; text-align:center; ">Les consignes de </text><text style="font-size:45px;text-align:center; font-weight: normal; color:#9b59b6; "> sécurité</text>
            <div class="Séparateur" style="padding-top:30px;border-bottom:2px solid #f1c40f; margin-left:18%;margin-right:auto;width:60%;   height:30px;float:center;" ></div>

            <div style="margin-bottom:50px;"></div>

            <div style="float:right;"><img style="width:350px;  height:450px; border-radius:10px;  "src="{{asset('CoursCollectif/ChienCoursCo.jpg')}}"/></div>

            <div style="float:left; width:65%; height:auto;font-size:20px; text-align:left;">
                <text style="font-weight: normal;font-size:20px;">Les chiens présentant des comportements agressifs envers leurs congénères et envers tous types de personnes se doivent OBLIGATOIREMENT de passer par un travail individuel et avoir l’autorisation de l’éducateur canin avant de pouvoir intégrer un cours collectif. </text>
                <text style="font-weight: normal;font-size:20px;">L’éducateur canin se réserve le droit de refuser à son cours collectif tous chiens ayant un comportement dangereux.</text>
                 <br> <br>
                <text style="font-weight: normal;font-size:20px;"> Vous êtes tenu.e responsable de votre chien pendant l'intégralité du cours. Je vous invite à vérifier que vous êtes couvert par votre responsabilité civile.</text>
               
                <text style="font-weight: normal;font-size:20px;"> Lors du cours, je vous demande de suivre les consignes que je vous prodigue. Mes méthodes sont respectueuses et bienveillantes.</text>
                <br> <br>
                <text style="font-weight: normal;font-size:20px;">Si une bagarre entre chiens se produit, je vous demande de ne pas intervenir personnellement même si cela concerne votre chien. Sauf bien sûr si je vous demande d’appeler ou d’attraper votre chien. Reposez-vous sur moi pour gérer la situation.</text>
               
                <text style="font-weight: normal;font-size:20px;">Je ne pourrai pas être tenue responsable de toute blessure intervenant sur un chien ou un humain.</text>
                 <br> <br>
                <text style="font-weight: normal;font-size:20px;">Merci de respecter les lieux et les personnes présentes.</text>
                
                <text style="font-weight: normal;font-size:20px;">Je vous demande de ramasser les excréments avant, pendant et après le cours.</text>
                <br> <br>
                <text style="font-weight: normal;font-size:20px;">Le groupe est un endroit protégé où la critique n’est pas autorisée. Nous avons tous nos difficultés et facilités.</text>
                
                <text style="font-weight: normal;font-size:20px;">Je me réserve le droit d’exclure du groupe toute personne qui pourrait perturber volontairement le groupe et toute personne dont le comportement n'est pas respectueux et bienveillant.</text>
            </div> 
        </div>

        <div class="ConsigneSecuRsp">
             <text style="font-size:40px;font-weight: normal; text-align:center; ">Les consignes de </text><text style="font-size:45px;text-align:center; font-weight: normal; color:#9b59b6; "> sécurité</text>
            <div class="Séparateur" style="padding-top:30px;border-bottom:2px solid #f1c40f; margin-left:18%;margin-right:auto;width:60%;   height:30px;float:center;" ></div>

            <div style="margin-bottom:50px;"></div>

            <div style="float:;"><img style="width:350px;  height:450px; border-radius:10px;  "src="{{asset('CoursCollectif/ChienCoursCo.jpg')}}"/></div>
            <br>
            <div style="float:; width:100%; height:auto;font-size:20px; text-align:center;">
                <text style="font-weight: normal;font-size:20px;">Les chiens présentant des comportements agressifs envers leurs congénères et envers tous types de personnes se doivent OBLIGATOIREMENT de passer par un travail individuel et avoir l’autorisation de l’éducateur canin avant de pouvoir intégrer un cours collectif. </text>
                <text style="font-weight: normal;font-size:20px;">L’éducateur canin se réserve le droit de refuser à son cours collectif tous chiens ayant un comportement dangereux.</text>
                 <br> <br>
                <text style="font-weight: normal;font-size:20px;"> Vous êtes tenu.e responsable de votre chien pendant l'intégralité du cours. Je vous invite à vérifier que vous êtes couvert par votre responsabilité civile.</text>
               
                <text style="font-weight: normal;font-size:20px;"> Lors du cours, je vous demande de suivre les consignes que je vous prodigue. Mes méthodes sont respectueuses et bienveillantes.</text>
                <br> <br>
                <text style="font-weight: normal;font-size:20px;">Si une bagarre entre chiens se produit, je vous demande de ne pas intervenir personnellement même si cela concerne votre chien. Sauf bien sûr si je vous demande d’appeler ou d’attraper votre chien. Reposez-vous sur moi pour gérer la situation.</text>
               
                <text style="font-weight: normal;font-size:20px;">Je ne pourrai pas être tenue responsable de toute blessure intervenant sur un chien ou un humain.</text>
                 <br> <br>
                <text style="font-weight: normal;font-size:20px;">Merci de respecter les lieux et les personnes présentes.</text>
                
                <text style="font-weight: normal;font-size:20px;">Je vous demande de ramasser les excréments avant, pendant et après le cours.</text>
                <br> <br>
                <text style="font-weight: normal;font-size:20px;">Le groupe est un endroit protégé où la critique n’est pas autorisée. Nous avons tous nos difficultés et facilités.</text>
                
                <text style="font-weight: normal;font-size:20px;">Je me réserve le droit d’exclure du groupe toute personne qui pourrait perturber volontairement le groupe et toute personne dont le comportement n'est pas respectueux et bienveillant.</text>
            </div> 
        </div>
        

    </div>
    
    
    

    

{% endblock %}
