{% extends 'base.html.twig' %}

{% block title %}Le bilan comportemental{% endblock %}

{% block body %}
    <style>
    
    .Contenu{
        width:90%;
        height:auto;
        background:white;
        margin-left:auto;
        margin-right:auto;
        text-align:center;
        margin-bottom:50px;
        font-size:40px;
        font-weight:bold;
        padding-top:50px;
    }
    body{
        font:caption;
        background:#f7d794;
    }
    text{
        font-size:20px;
        font-weight: normal;
    }
    .PresentationActivite{
        width:100%;
        height:auto;
        margin-top:30px;
        margin-bottom:0px;
        padding:30px;
    }
    .ObjectifActivite{
        width:100%;
        margin-top:250px;
        height:auto;
        padding-bottom:50px;
    }
    .ActiviteGauche{
        width:30%;
        float:left;
        display:inline-block;
    }
    .ActiviteMilieu{
        width:30%;
        display:inline-block;
        border-left:1px solid #9b59b6;
        border-right:1px solid #9b59b6;
    }
    .ActiviteDroite{
        width:30%;
        float:right;
        display:inline-block;
    }
    .TroisObjectifs{
        width:90%;
        margin-left:auto;
        margin-right:auto;
        height:auto;
        margin-top:50px;
        margin-bottom:50px;
    }
    .TroisObjectifs2{
        width:90%;
        margin-left:auto;
        margin-right:auto;
        height:auto;
        margin-top:0px;
        margin-bottom:50px;
    }
 
    .CcspBilan{
        margin-bottom:150px;
        width:100%;
        height:450px;
        padding:50px;
        margin-top:50px;
        
    }
    @media (max-width: 1760px){
            .PicSupperpo3{
                display:show
            }
            .PicSupperpoResponsive{
                display:none;
            }
        }
    @media (min-width: 1760px){
            .PicSupperpoResponsive{
                display:none;
            }
        }
    .Tarif{
       margin-top:50px;
        width:100%;
        height:auto;
        padding:50px; 
        
    }
    .DivGauche{
        float:left;
        width:30%;
        margin-left:-100px;
        height:500px;
        background:white;
        box-shadow: 4px 4px 4px 4px #95a5a6; 
        border-radius:7px;
    }
    .TitreTarif{
        width:100%;
        height:100px;
        padding-top:25px;
        background:#9b59b6;
        text-align:center;
        
    }
    .TitreHaut{
        background:#9b59b6;
        border-radius:7px;
        width:100%;
        height:20px;
        margin-bottom:-10px;
      
    }
    .PicDroite{
        float:right;
        width:40%;
        height:450px;
        margin-top:100px;
        margin-right:7.5%;
    }
    .contenuTarif{
        height:400px;
        margin-top:0px;
        padding:25px;
    }
    .TarifBilan{
        margin-top:1100px;
        width:400px; 
        height:auto;
        margin-left:2.5%;
        border-radius:7px;
        z-index:2;
        display: flex;
    }
    .ButtonService{
        border-radius: 20px; 
        padding:15px;  
        background-color: #9b59b6;
        color:white;
        text-decoration: none; 

    }
    .ButtonService:hover{
        border: 3px solid #f1c40f;
        background-color: #9b59b6;
        transition-duration: 0.5s;
        color: white; 
    }
    a{
        text-decoration:none;    
    }
   
    .ClassBtn{
        width:150px;
        margin-left:150px;
        height:60px;
        margin-top:50px;
        border-radius: 15px; 
        Background-color: #9b59b6;  
    }
    .ClassBtn:hover{
        border: 3px solid #f1c40f;
    }
   
    .Prix{
        width:100%;
        height:75px;
        margin-left:auto;
        margin-right:auto;
        margin-bottom:50px;
        padding-left:0px;
        
    }
    
    .PresentationActiviteResponsive{
        display:none;
    }
    .CcspBilanResponsive{
            display:none;
    }
    .TitreRsp{
        display:none;
    }
    .T1{
        font-size:50px;
        text-align:center;
    }
    .T2{
        font-size:55px;
        text-align:center;  
        color:#9b59b6;
    }
    .Espaceur{
        margin-bottom:70px;
    }
    .ObjectifActiviteResponsive{
        display:none;
    }
    .TarifResponsive{
        display:none;
    }
    .PrixResponsive{
        display:none;
    }

    @media (max-width: 900px){

        .PresentationActivite{
            display:none;
        }
        .PresentationActiviteResponsive{
            display:block;
            width:100%;
            height:auto;
            margin-top:30px;
            margin-bottom:0px;
            padding:30px;
        }
        .CcspBilan{
            display:none;
        }
        .CcspBilanResponsive{
            display:block;
            margin-bottom:50px;
            width:100%;
            height:auto;
            padding:20px;
        }
        .T1{
            font-size:30px;
             text-align:center;
        }
        .T2{
            font-size:35px;
            text-align:center;  
            color:#9b59b6;
        }
        .Espaceur{
            margin-bottom:20px;
        }
        .ObjectifActivite{
            display:none;
        }
        .ObjectifActiviteResponsive{
            display:block;
            width:100%;
            margin-top:50px;
            height:auto;
            padding-bottom:50px;
        }
        .TarifResponsive{
            display:block;
            width:100%;
            margin-top:50px;
            height:auto;
            padding-bottom:50px;
        }
        .contenuTarifResponsive{
             height:auto;
            margin-top:0px;
            padding:25px;
        }
        .PrixResponsive{
        width:100%;
        height:auto;
        margin-left:auto;
        margin-right:auto;
        margin-bottom:50px;
        
    }
        
            
    }
   
    
    </style>
    <div style=" width:100%; height:200px;"></div>
    <div class="Contenu">
        
            <text  class="T1" >Le </text><text class="T2"> bilan comportemental</text>
        
            <div class="Séparateur" style="border-bottom:3px solid #f1c40f; margin-left:35%;margin-right:auto;width:33%;  margin-top:-20px; margin-bottom:30px;height:30px;float:center;" ></div>
            <div class="Espaceur"></div>
        
        

        <div class="PresentationActivite">
      
            <div class="Conteneur_Pic_TXT" style="width:100%; height:550px;">
                <div class="TxtDroiteB_E" style="float:right; width:45%; height:450px; margin-top:0px;margin-right:35px;padding-right:30px;">
                    <text style="font-size:30px;font-weight: ; background:#9b59b6; color:white; ">Éduquer passe nécessairement par une approche comportementale.</text>
                    </br>
                    <text>Aboiements intempestifs, agressivité sur congénères ou sur humains, malpropreté, destructions, phobies, dépression, anxiété, peurs, fugue... sont des problèmes de comportement rencontrés fréquemment chez nos chiens.</text>
                    </br>
                    <text>Le bilan comportemental de votre chien s’effectue à votre domicile, il dure environ 1 heure et tous les membres de la famille sont invités à y participer. </text>
                    </br>
                    <text>Il me permet de mieux appréhender votre mode de vie et celui de votre animal, afin d’évaluer précisément le travail à effectuer ensemble.</text>
                    </br>
                </div>
                
                <div class="PicSupperpo3" style="margin-top:-40px;width:50%; height:550px; margin-left:0px; float:left;">
                    <img class="Pic1" style="width:300px;  height:350px; margin-top:20px; border-radius:10px;"src="{{asset('PhotoBilan/ChienBilan5.jpg')}}"/>
                    <img class="Pic3"style="width:330px;  height:250px; margin-left:-50px; margin-top:10px; border-radius:10px;"src="{{asset('PhotoBilan/ChienBilan9.jpg')}}"/>
                    <br>
                    <img class="Pic2"style="width:300px;  height:320px; margin-left:50px;margin-top:-80px; border-radius:10px;"src="{{asset('PhotoBilan/ChienBilan6.jpg')}}"/>
                </div>

            </div>
        </div>

    

        <div class="PresentationActiviteResponsive">
      
            <div class="Conteneur_Pic_TXT" style="width:100%; height:auto;">
                    <text style="font-size:30px;font-weight: ; background:#9b59b6; color:white; ">Éduquer passe nécessairement par une approche comportementale.</text>
                    </br>
                    <img  style="width:100%;  margin-left:auto; margin-right:auto; height:auto; margin-top:20px; border-radius:10px;"src="{{asset('PhotoBilan/ChienBilan5.jpg')}}"/>
                    <br>
                    <text>Aboiements intempestifs, agressivité sur congénères ou sur humains, malpropreté, destructions, phobies, dépression, anxiété, peurs, fugue... sont des problèmes de comportement rencontrés fréquemment chez nos chiens.</text>
                    </br>
                    <img class="Pic3"style="width:100%;  margin-left:auto; margin-right:auto; height:auto;  margin-top:10px; border-radius:10px;"src="{{asset('PhotoBilan/ChienBilan9.jpg')}}"/>
                    <br>
                    <text>Le bilan comportemental de votre chien s’effectue à votre domicile, il dure environ 1 heure et tous les membres de la famille sont invités à y participer. </text>
                    </br>
                    <text>Il me permet de mieux appréhender votre mode de vie et celui de votre animal, afin d’évaluer précisément le travail à effectuer ensemble.</text>
                    </br>
                    <img class="Pic2"style="width:100%;  margin-left:auto; margin-right:auto; height:auto;  margin-top:10px;border-radius:10px;"src="{{asset('PhotoBilan/ChienBilan6.jpg')}}"/>
               
            </div>    
        </div>


        <div class="CcspBilan">
        
            <div class="DivGauche">
                <div class="TitreHaut">
                </div>
                <div class="TitreTarif">
                    <text style="color:white; font-size:30px;">Bilan comportemental </text>
                </div>
                <div class="contenuTarif" >
                    <div class="Prix">
                        <text style=" text-align:;color:#9b59b6;font-size:25px;padding-top:150px;"></text>
                        <text style=" text-align:center;color:#9b59b6;font-size:90px;">30</text><text style="color:#9b59b6;font-size:20px;">€</text>
                        <div class="Séparateur" style="border-bottom:3px solid #f1c40f; margin-left:42.3%;margin-right:auto;width:17%;  margin-top:-30px; margin-bottom:30px;height:30px;float:center;" ></div>
            
                    </div>
                    
                    <img style="width:25px; margin-left:25%; height:25px; float:left; "src="{{asset('ConseilAdoption/IconHorloge2.png')}}"/>
                    <text style=" color:#9b59b6;float:left; padding-left:25px; font-size:25px;">1 heure</text>
                <br>
                    <div style="margin-top:20px;"></div>

                    <img style="width:25px;  margin-left:25%;height:25px; float:left;  "src="{{asset('CoursCollectif/IconCity.png')}}"/>
                    <text style=" color:#9b59b6;float:left; padding-left:25px;font-size:25px;">à domicile</text>
                    <br>
                    
                    <div style=" margin-top:5%;"></div>
                    
                    <a href="http://192.168.1.20:10002/index.php/contact"class="ButtonService">Réserver <img style="width:25px;  height:25px;  "src="{{asset('PhotoBilan/IconFleche.png')}}"/></a>    
                </div>
            </div>

            <text style="font-size:40px;font-weight: normal; text-align:center; ">Comment </text><text style="font-size:45px;text-align:center; font-weight: normal; color:#9b59b6; "> ça se passe?</text>
            <div class="Séparateur" style="padding-top:30px;border-bottom:2px solid #f1c40f; margin-left:450px;margin-right:auto;width:60%;   height:30px;float:center;" ></div>
         


             <img style="width:400px;  height:auto; margin-top:60px;float:right; border-radius:10px; margin-left:50px; margin-right:0px; "src="{{asset('PhotoBilan/Paris.jpg')}}"/>
            
            <div style="float:right;   margin-left: ;width:35%; margin-top:45px;">
            <text>Cela passe inévitablement par un questionnaire sur votre vie quotidienne (coordonnées, habitudes…) ainsi qu’une observation de la relation que vous entretenez avec votre chien. Je vous donnerai des conseils personnalisés tant au niveau comportemental que social, sur l’attitude à adopter face à votre compagnon de vie tout au long du rendez-vous.</text>
             
            </div>
               
           
        </div>

        <div class="CcspBilanResponsive">
        
            <text style="font-size:40px;font-weight: normal; text-align:center; ">Comment </text><text style="font-size:45px;text-align:center; font-weight: normal; color:#9b59b6; "> ça se passe?</text>
            <div class="Séparateur" style="padding-top:30px;border-bottom:2px solid #f1c40f; margin-left:18%;margin-right:auto;width:60%;   height:30px;float:center;" ></div>
         


             <img style="width:100%;  height:auto; margin-top:60px;float:right; border-radius:10px; margin-left:auto; margin-right:auto; "src="{{asset('PhotoBilan/Paris.jpg')}}"/>
            
            <div style="   margin-left:auto;margin-right:auto;width:100%; margin-top:45px;">
            <text>Cela passe inévitablement par un questionnaire sur votre vie quotidienne (coordonnées, habitudes…) ainsi qu’une observation de la relation que vous entretenez avec votre chien. <text>
            <div style="margin-top:25px;"></div>
            <text>Je vous donnerai des conseils personnalisés tant au niveau comportemental que social, sur l’attitude à adopter face à votre compagnon de vie tout au long du rendez-vous.</text>
             
            </div>
               
           
        </div>


         <div class="ObjectifActivite">

             <text style="font-size:40px;font-weight: normal; text-align:center; ">Les </text><text style="font-size:45px;text-align:center; font-weight: normal; color:#9b59b6; "> objectifs</text>
            <div class="Séparateur" style="padding-top:30px;border-bottom:2px solid #f1c40f; margin-left:auto;margin-right:auto;width:60%;   height:30px;float:center;" ></div>
         
            <div class="TroisObjectifs">
                <div class="ActiviteGauche">
                    <img style="width:75px;  height:75px;  "src="{{asset('PhotoBilan/IconLoupe.png')}}"/>
                    </br>
                    <text style="padding-left:10px;">Analyser la situation actuelle</text>
                </div>
                
                <div class="ActiviteMilieu">
                    <img style="width:75px;  height:75px;  "src="{{asset('PhotoBilan/IconInfo.png')}}"/>
                    </br>
                    <text style="padding-left:10px;">Réunir certaines informations sur votre chien et votre mode de vie</text>
                </div>

                <div class="ActiviteDroite">
                    <img style="width:75px;  height:75px;   "src="{{asset('PhotoBilan/IconBrain.png')}}"/>
                    </br>
                    <text style="padding-left:10px; ">Cerner votre demande</text>
                </div>
            </div>
            <br>
            <div class="TroisObjectifs2">
                <div class="ActiviteGauche">
                    <img style="width:75px;  height:75px;   "src="{{asset('PhotoBilan/IconChien2.png')}}"/>
                    </br>
                    <text style="padding-left:10px;">Poser un diagnostic ou au moins m’orienter dessus</text>
                </div>
                    
                <div class="ActiviteMilieu">
                    <img style="width:75px;  height:75px;   "src="{{asset('PhotoBilan/IconPlan2.png')}}"/>
                    </br>
                    <text style="padding-left:10px;">Vous proposer un plan d’action adapté</text>
                </div>

                <div class="ActiviteDroite">
                    <img style="width:75px;  height:75px;   "src="{{asset('CoursCollectif/iCon2Chien.png')}}"/>
                    </br>
                    <text style="padding-left:10px;">Vous donner les premiers conseils</text>
                </div> 
            </div> 
        </div>

         <div class="ObjectifActiviteResponsive">

             <text style="font-size:40px;font-weight: normal; text-align:center; ">Les </text><text style="font-size:45px;text-align:center; font-weight: normal; color:#9b59b6; "> objectifs</text>
            <div class="Séparateur" style="padding-top:30px;border-bottom:2px solid #f1c40f; margin-left:auto;margin-right:auto;width:60%;   height:30px;float:center;" ></div>
                <div style="margin-top:50px;"></div>
                <img style="width:75px;  height:75px;  "src="{{asset('PhotoBilan/IconLoupe.png')}}"/>
                </br>
                <text style="padding-left:10px;">Analyser la situation actuelle</text>

                <br>
                <div class="Séparateur" style="padding-top:30px;border-bottom:1px solid #9b59b6; margin-left:auto;margin-right:auto;width:60%;   height:30px;float:center;" ></div>
                <div style="margin-top:20px;"></div>

                <img style="width:75px;  height:75px;  "src="{{asset('PhotoBilan/IconInfo.png')}}"/>
                </br>
                <text style="padding-left:10px;">Réunir certaines informations sur votre chien et votre mode de vie</text>
              
                <br>
                <div class="Séparateur" style="padding-top:30px;border-bottom:1px solid #9b59b6; margin-left:auto;margin-right:auto;width:60%;   height:30px;float:center;" ></div>
                <div style="margin-top:20px;"></div>

                <img style="width:75px;  height:75px;   "src="{{asset('PhotoBilan/IconBrain.png')}}"/>
                </br>
                <text style="padding-left:10px; ">Cerner votre demande</text>
                
                <br>
                <div class="Séparateur" style="padding-top:30px;border-bottom:1px solid #9b59b6; margin-left:auto;margin-right:auto;width:60%;   height:30px;float:center;" ></div>
                <div style="margin-top:20px;"></div>
           
                <img style="width:75px;  height:75px;   "src="{{asset('PhotoBilan/IconChien2.png')}}"/>
                </br>
                <text style="padding-left:10px;">Poser un diagnostic ou au moins m’orienter dessus</text>
                
                <br>
                <div class="Séparateur" style="padding-top:30px;border-bottom:1px solid #9b59b6; margin-left:auto;margin-right:auto;width:60%;   height:30px;float:center;" ></div>
                <div style="margin-top:20px;"></div>
                
                <img style="width:75px;  height:75px;   "src="{{asset('PhotoBilan/IconPlan2.png')}}"/>
                </br>
                <text style="padding-left:10px;">Vous proposer un plan d’action adapté</text>
                
                <br>
                <div class="Séparateur" style="padding-top:30px;border-bottom:1px solid #9b59b6; margin-left:auto;margin-right:auto;width:60%;   height:30px;float:center;" ></div>
                <div style="margin-top:20px;"></div>
                
                <img style="width:75px;  height:75px;   "src="{{asset('CoursCollectif/iCon2Chien.png')}}"/>
                </br>
                <text style="padding-left:10px;">Vous donner les premiers conseils</text>

                <div style="margin-top:15%;"></div>

                <div class="TitreTarif">
                        <text style="color:white; font-size:30px;">Bilan comportemental </text>
                    </div>
                    <div class="contenuTarifResponsive" >
                        <div class="Prix">
                            <text style=" text-align:;color:#9b59b6;font-size:25px;padding-top:150px;"></text>
                            <text style=" text-align:center;color:#9b59b6;font-size:90px;">30</text><text style="color:#9b59b6;font-size:20px;">€</text>
                            <div class="Séparateur" style="border-bottom:3px solid #f1c40f; margin-left:42.3%;margin-right:auto;width:17%;  margin-top:-30px; margin-bottom:30px;height:30px;float:center;" ></div>
                
                        </div>
                        
                        <img style="width:25px; margin-left:25%; height:25px; float:left; "src="{{asset('ConseilAdoption/IconHorloge2.png')}}"/>
                        <text style=" color:#9b59b6;float:left; padding-left:25px; font-size:25px;">1 heure</text>
                        <br>
                        <div style="margin-top:5%;"></div>

                        <img style="width:25px;  margin-left:25%;height:25px; float:left;  "src="{{asset('CoursCollectif/IconCity.png')}}"/>
                        <text style=" color:#9b59b6;float:left; padding-left:25px;font-size:25px;">à domicile</text>
                        <br>
                        
                        <div style=" margin-top:5%;"></div>
                        
                        <a href="http://192.168.1.20:10002/index.php/contact"class="ButtonService">Réserver <img style="width:25px;  height:25px;  "src="{{asset('PhotoBilan/IconFleche.png')}}"/></a>    
                    </div>
                </div>



        

    </div>
    
   
    

{% endblock %}
