{% extends 'base.html.twig' %}

{% block title %}Contactez-moi !{% endblock %}

{% block body %}
     <style>
        body{
            background:#f1f2f6;
        }
        h1{
            font-family: "Gill Sans", sans-serif;
        }
            
        .BoxContact{
            margin-left:auto;
            margin-right:auto;
            width: 80%; 
            height: 900px;
            display:block;
            border-radius:10px;
            padding:40px;
            margin-bottom:50px;
        }
        .Pic{
            width:400px; 
            margin-left:25px;
            height:auto; 
            margin-top:75px; 
            border-radius:10px; 
            float:left;
        }
        .Séparateur{
            border-bottom:3px solid #9b59b6; 
            width:50%; 
            margin-left:0px; 
            margin-right:auto;
            margin-top:10px;
        }
            .LabelForm{
                display:none;
            }
            label{
                display:none;
            }
            .InputProject{
                width:100%;
                height:350px;
                padding: 12px 20px;
                box-sizing: border-box;
                border: 1px solid #ccc;
            
            }
            input::placeholder{
                padding:10px;
                color:#ccc;
            }
            .DivForm{
                background:white;
                padding:50px;
                width:650px;
                height:550px;
                float:right;
                margin-left:5%;
                
            }
            .AlignGauche{
                float:left;
                width:47.5%;
                height:50px;
                
                border:0px;
            }
            .AlignGaucheTxt{
                float:left;
                width:100%;
                height:250px;
                margin-bottom:25px;
                border-radius:5px;
                
                
                
            }
            .AlignDroite{
                float:right;
                width:47.5%;
                height:50px;
                
            }
            .LigneForm{
                width:100%;
                height:75px;
            }
            .InputTxt{
                width:100%;
                height:50px;
                box-sizing: border-box;
                border: 1px solid #ccc;
                padding:15px;
            }

        .ButtonService{
            border-radius: 25px; 
            padding-top:15px;
            padding-bottom:15px;
            padding-left:35px;
            padding-right:35px;
            background-color: #9b59b6;
            color:white;
            font: caption;
            text-decoration: none;
            border: 2px solid #9b59b6;
            float:right;
            
        }
        .ButtonService:hover{
            border: 2px solid #f1c40f;
            background-color: #9b59b6;
            transition-duration: 0.5s;
            color: #f1c40f;
            
        }
            .TxtDroite{
                float:right;
                width:60%;
                height:500px;
                margin-top:150px;
            }
            .TxtGauche{
               float:left;
                width:35%;
                height:500px;
                margin-right:5%;
                margin-top:150px;
                font-family:"Trebuchet MS";
            }
            .BoxContactResponsive{
                    display:none;
                }
            
            @media(max-width:900px){
                .TxtGauche{
                    display:none;
                }
                .form-group{
                    width:100%;
                    height:500px;

                }
                .BoxContactResponsive{
                    display:block;
                    width:90%;
                    margin-left:5%;
                    margin-right:5%;
                    height:950px;
                    padding:10px;
                }
                .TxtGaucheResponsive{
                    margin-top:150px;
                    text-align:center;
                    width:100%;
                    height:auto;
                
                font-family:"Trebuchet MS";
            }
            .TxtDroite{
                float:center;
                width:100%;
                height:500px;
                margin-bottom:150px;
            }
            .DivForm{
                background:white;
                padding:30px;
                width:100%;
                height:530px;
                float:center;
            }
           
            
            }
            .BordureViolet {
                width:5px;
                float:left;
                margin-left:-5px;
                background:#9b59b6;
                height:38px;
            }
            .BordureVioletTxt{
                width:5px;
                float:left;
                margin-right:-5px;
                background:#9b59b6;
                height:100%;
            }

            /* Css pop up */

            .overlay {
                position: fixed;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background: rgba(0, 0, 0, 0.7);
                transition: opacity 500ms;
                visibility: hidden;
                opacity: 0;
                }
            .overlay:target {
                visibility: visible;
                opacity: 1;
            }

            .popup {
                margin: 70px auto;
                padding: 20px;
                background: #fff;
                border-radius: 5px;
                width: 30%;
                position: relative;
                transition: all 5s ease-in-out;
            }

            .popup h2 {
                margin-top: 0;
                color: #333;
                font-family: Tahoma, Arial, sans-serif;
            }
            .popup .close {
                position: absolute;
                top: 20px;
                right: 30px;
                transition: all 200ms;
                font-size: 30px;
                font-weight: bold;
                text-decoration: none;
                color: #333;
            }
            .popup .close:hover {
                color: #06D85F;
            }
            .popup .content {
                max-height: 30%;
                overflow: auto;
            }
            @media screen (max-width: 700px){
                .box{
                    width: 70%;
                }
                .popup{
                    width: 70%;
                }
            }
            
    </style>

        <div class="BoxContactResponsive"> 
            <div class="TxtGaucheResponsive">
                <p style="font-size:35px; color:#ffaf40; ">De Cara Pattes </p>
                
                <p style="font-size:60px;  ">Contact</p>

                <div class="Séparateur" style="border-bottom:1px solid #9b59b6; margin-left:auto;margin-right:auto;width:70%; margin-top:-35px;  height:30px;float:center;" ></div>
               
                <p style="font-size:25px; margin-top:25px; margin-bottom:15px;">Vous avez une question ?</p>
               
                <p  style="font-size:25px;margin-bottom:15px;">Besoin d'une information ?</p>
               
                <p  style="font-size:25px;  margin-bottom:15px;">Un Projet ?</p>
                <br><br>


                 <br>
                <p style="font-size:30px;  ">Contactez-moi via :</p>

                <div class="Séparateur" style="border-bottom:1px solid #9b59b6; margin-left:auto;margin-right:auto;width:90%; margin-top:-20px;  height:30px;float:center;" ></div>

                <div class="OutilContact" style="padding-left:20px; ">
                    <table>

                        <br><br>

                        <tr>
                            <img class="Logo" style="  width:25px; height:25px; margin-right:5px;margin-bottom:10px;"  src="{{asset('PhotoContact/IconPhone.png')}}"/>
                            </tr>
                            <tr>
                            <text style="font-size:25px;  "> 06 48 88 08 14</text>
                        </tr>

                        <br><br><br>

                        <tr>
                            <img class="Logo" style="  width:25px; height:25px; margin-right:5px;"  src="{{asset('PhotoContact/IconMail.png')}}"/>
                        </tr>
                        <tr>
                            <text style="font-size:19px;  "> Decarapattes@outlook.fr</text>
                        </tr>

                        <br><br>

                        <tr >
                            <a href="https://www.instagram.com/decarapattes/">
                            <img class="Logo"  style=" margin-bottom:20px;margin-top:20px; margin-right:30px;margin-left:-10px;width:75px; height:75px;" src="{{asset('PhotoContact/IconInstagram.svg')}}"/>
                            </a>

                            <a href="https://www.facebook.com/decarapattes">
                            <img class="Logo" style="margin-bottom:20px; margin-top:20px; width:75px; height:75px;"  src="{{asset('PhotoContact/IconFacebook.svg')}}"/>
                            </a>
                        </tr>

                        <br><br>
                        <tr>
                            <p style="font-size:25px;  "> mon formulaire de contact </p>
                        </tr>
                        <tr>
                            <img class="Logo" style="  width:45px; height:45px; margin-right:15px;transform: rotate(90deg);"  src="{{asset('PhotoContact/IconArrow.png')}}"/>
                        </tr>
                    </table>
                    <br>
                    
                </div>

            

           
            </div>  
        </div>

               

        <div class="BoxContact" >


            <div style="margin-top:150px;margin-bottom:-150px; font-size:25px;" id="MessageOk">

             {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}

            </div>


            <div class="TxtGauche">
                <text style="font-size:40px; color:#ffaf40; ">De Cara Pattes </text>
                <br> 
                <text style="font-size:60px;  ">Contact</text>
                <br>
                <text style="font-size:25px;  ">Vous avez une question ?</text>
                <br>
                <text style="font-size:25px;  ">Besoin d'une information ?</text>
                <br>
                <text style="font-size:25px;  ">Un Projet ?</text>
                <br><br>

                <br>
                <text style="font-size:30px;  ">Contactez-moi via :</text>

                <div class="Séparateur" ></div>

                <div class="OutilContact" style="padding-left:20px; ">
                    <table>
                        <br>
                        <tr>
                            <text style="font-size:25px;  "> mon formulaire de contact </text>
                        </tr>
                        <tr>
                            <img class="Logo" style="  width:45px; height:45px; margin-right:15px;"  src="{{asset('PhotoContact/IconArrow.png')}}"/>
                        </tr>

                        <br>

                        <tr>
                            <img class="Logo" style="  width:25px; height:25px; margin-right:15px;"  src="{{asset('PhotoContact/IconPhone.png')}}"/>
                            </tr>
                            <tr>
                            <text style="font-size:25px;  "> 06 48 88 08 14</text>
                        </tr>

                        <br><br>

                        <tr>
                            <img class="Logo" style="  width:25px; height:25px; margin-right:15px;"  src="{{asset('PhotoContact/IconMail.png')}}"/>
                        </tr>
                        <tr>
                            <text style="font-size:25px;  "> Decarapattes@outlook.fr</text>
                        </tr>

                        <br>

                        <tr >
                            <a href="https://www.instagram.com/decarapattes/">
                            <img class="Logo"  style=" margin-bottom:20px;margin-top:20px; margin-right:30px;width:75px; height:75px;" src="{{asset('PhotoContact/IconInstagram.svg')}}"/>
                            </a>

                            <a href="https://www.facebook.com/decarapattes">
                            <img class="Logo" style="margin-bottom:20px; margin-top:20px; width:75px; height:75px;"  src="{{asset('PhotoContact/IconFacebook.svg')}}"/>
                            </a>
                        </tr>
                    </table>
                    <br>
                    <br>
                </div>
                
                
                
                
                
            </div>
            
            

          

        

            <div class="TxtDroite">  
                <div class="DivForm">
                    <div class="form-group" style="">
                        <div class="LigneForm">
                            {{form_start(ContactForm)}}
                                <div class="AlignGauche">
                                    <img  style="margin-bottom:0px; margin-top:0px; width:38px; height:38px; float:left;border-radius:5px;"  src="{{asset('PhotoContact/IconNom2.png')}}"/>
                                    <div class="BordureViolet"></div>
                                    {{ form_row(ContactForm.nom, {'attr':{'class':'form-control','placeholder':'Nom', 'id':'Nom','style':'width:220px; ', 'value':''}}) }}
                                </div>

                                <div class="AlignDroite">
                                    <img  style="margin-bottom:0px; margin-top:0px; width:38px; height:38px; float:left;border-radius:5px;"  src="{{asset('PhotoContact/IconNom2.png')}}"/>
                                    <div class="BordureViolet"></div>
                                    {{ form_row(ContactForm.prenom, {'attr':{'class':'form-control','placeholder':'Prénom', 'id':'Prenom','style':'width:220px;', 'value':''}}) }}
                                </div>

                            </div>
                            
                            <div class="LigneForm">
                                    <div class="AlignGauche">
                                        <img  style="margin-bottom:0px; margin-top:0px; width:38px; height:38px; float:left;border-radius:5px;"  src="{{asset('PhotoContact/IconPhone2.png')}}"/>
                                        <div class="BordureViolet"></div>
                                        {{ form_row(ContactForm.telephone, {'attr':{'class':'form-control' ,'placeholder':'Téléphone', 'id':'Tel','style':'width:220px;', 'value':''}}) }}
                                    </div>
                                    <div class="AlignDroite">
                                        <img  style="margin-bottom:0px; margin-top:0px; width:38px; height:38px; float:left;border-radius:5px;"  src="{{asset('PhotoContact/IconMail2.png')}}"/>
                                        <div class="BordureViolet"></div>
                                        {{ form_row(ContactForm.email, {'attr':{'class':'form-control','placeholder':'Email', 'id':'Mail','style':'width:220px;', 'value':''}}) }}
                                    </div >
                            </div>

                            <div class="LigneForm">
                                    <div class="AlignGaucheTxt">
                                    <div style="width:43px; height:100%; background:#9b59b6; float:left; border-radius:5px;">
                                        <img  style="margin-bottom:0px; margin-top:90px; width:38px; height:38px; float:left;border-radius:5px;"  src="{{asset('PhotoContact/IconTchat.png')}}"/>
                                        <div class="BordureVioletTxt"></div>
                                    </div>
                                    {{ form_row(ContactForm.libelleContact, {'attr':{'class':'AlignGaucheTxt','placeholder':'Expliquer votre problèmatique', 'id':'Message' ,'style':'padding:20px;border-color:#bdc3c7;width:500px;'}, 'value':''}) }}
                                    </div>
                                
                            
                                <div class="button"> 
                                    {{ form_row(ContactForm.envoyer, {'attr':{'class':'ButtonService', 'href':'#MessageOk'}}) }}
                                </div>   
                           
                        </div>
                            {{form_end(ContactForm)}}
                    </div>
                </div>
            </div>  
        </div>


 
               
   
            
{% endblock %}
