{% extends 'base.html.twig' %}

{% block title %}Réhabilitation chien agréssif{% endblock %}

{% block body %}
    <style>
    
    .Contenu{
        width:90%;
        height:auto;
        background:white;
        margin-left:auto;
        margin-right:auto;
        text-align:center;
        margin-bottom:50px;
        font-size:40px;
        font-weight:bold;
        padding-top:50px;
    }
    body{
        font:caption;
        background:#f7d794;
    }
    text{
        font-size:20px;
        font-weight: normal;
    }
    .PresentationActivite{
        width:100%;
        height:auto;
        margin-top:30px;
        margin-bottom:0px;
        padding:30px;
    }
    .ObjectifActivite{
        width:100%;
        margin-top:200px;
        height:auto;
        padding-bottom:50px;
    }
    .ActiviteGauche{
        width:30%;
        float:left;
        display:inline-block;
    }
    .ActiviteMilieu{
        width:30%;
        display:inline-block;
        border-left:1px solid #9b59b6;
        border-right:1px solid #9b59b6;
    }
    .ActiviteDroite{
        width:30%;
        float:right;
        display:inline-block;
    }
    .TroisObjectifs{
        width:90%;
        margin-left:auto;
        margin-right:auto;
        height:auto;
        margin-top:50px;
        margin-bottom:50px;
    }
    .TroisObjectifs2{
        width:90%;
        margin-left:auto;
        margin-right:auto;
        height:auto;
        margin-top:0px;
        margin-bottom:50px;
    }
 
    .CcspBilan{
        margin-bottom:50px;
        width:100%;
        height:450px;
        padding:50px;
        margin-top:170px;
        
    }
    @media (max-width: 1760px){
            .PicSupperpo3{
                display:show
            }
            .PicSupperpoResponsive{
                display:none;
            }
        }
    @media (min-width: 1760px){
            .PicSupperpoResponsive{
                display:none;
            }
        }
    .Tarif{
       margin-top:50px;
        width:100%;
        height:auto;
        padding:50px; 
        
    }
    .DivGauche{
        float:left;
        width:30%;
        margin-left:-100px;
        height:540px;
        background:white;
        box-shadow: 4px 4px 4px 4px #95a5a6; 
        border-radius:7px;
    }
    .TitreTarif{
        width:100%;
        height:150px;
        padding-top:25px;
        background:#9b59b6;
        text-align:center;
        
    }
    .TitreHaut{
        background:#9b59b6;
        border-radius:7px;
        width:100%;
        height:20px;
        margin-bottom:-10px;
      
    }
    .PicDroite{
        float:right;
        width:40%;
        height:450px;
        margin-top:100px;
        margin-right:7.5%;
    }
    .contenuTarif{
        height:400px;
        margin-top:0px;
        padding:25px;
    }
    .TarifBilan{
        margin-top:1100px;
        width:400px; 
        height:auto;
        margin-left:2.5%;
        border-radius:7px;
        z-index:2;
        display: flex;
    }
    .ButtonService{
        border-radius: 20px; 
        padding:15px;  
        background-color: #9b59b6;
        color:white;
        text-decoration: none; 

    }
    .ButtonService:hover{
        border: 3px solid #f1c40f;
        background-color: #9b59b6;
        transition-duration: 0.5s;
        color: white; 
    }
    a{
        text-decoration:none;    
    }
   
    .ClassBtn{
        width:150px;
        margin-left:150px;
        height:60px;
        margin-top:50px;
        border-radius: 15px; 
        Background-color: #9b59b6;  
    }
    .ClassBtn:hover{
        border: 3px solid #f1c40f;
    }
   
    .Prix{
        width:100%;
        height:75px;
        margin-left:auto;
        margin-right:auto;
        margin-bottom:50px;
        padding-left:0px;
        
    }
    
    .PresentationActiviteResponsive{
        display:none;
    }
    .CcspBilanResponsive{
            display:none;
    }
    .TitreRsp{
        display:none;
    }
    .T1{
        font-size:50px;
        text-align:center;
    }
    .T2{
        font-size:55px;
        text-align:center;  
        color:#9b59b6;
    }
    .Espaceur{
        margin-bottom:70px;
    }
    .ObjectifActiviteResponsive{
        display:none;
    }
    .TarifResponsive{
        display:none;
    }
    .PrixResponsive{
        display:none;
    }

    @media (max-width: 900px){

        .PresentationActivite{
            display:none;
        }
        .PresentationActiviteResponsive{
            display:block;
            width:100%;
            height:auto;
            margin-top:30px;
            margin-bottom:0px;
            padding:30px;
        }
        .CcspBilan{
            display:none;
        }
        .CcspBilanResponsive{
            display:block;
            margin-bottom:50px;
            width:100%;
            height:auto;
            padding:20px;
        }
        .T1{
            font-size:30px;
             text-align:center;
        }
        .T2{
            font-size:35px;
            text-align:center;  
            color:#9b59b6;
        }
        .Espaceur{
            margin-bottom:20px;
        }
        .ObjectifActivite{
            display:none;
        }
        .ObjectifActiviteResponsive{
            display:block;
            width:100%;
            margin-top:50px;
            height:auto;
            padding-bottom:50px;
        }
        .TarifResponsive{
            display:block;
            width:100%;
            margin-top:50px;
            height:auto;
            padding-bottom:50px;
        }
        .contenuTarifResponsive{
             height:auto;
            margin-top:0px;
            padding:25px;
        }
        .PrixResponsive{
        width:100%;
        height:auto;
        margin-left:auto;
        margin-right:auto;
        margin-bottom:50px;
        
    }
        
            
    }
   
    
    </style>
    <div style=" width:100%; height:200px;"></div>
    <div class="Contenu">
        
            <text  class="T1" >La réhabilitation de </text><text class="T2"> chien agréssif</text>
        
            <div class="Séparateur" style="border-bottom:3px solid #f1c40f; margin-left:35%;margin-right:auto;width:33%;  margin-top:-20px; margin-bottom:30px;height:30px;float:center;" ></div>
            <div class="Espaceur"></div>
        
        

        <div class="PresentationActivite">
      
            <div class="Conteneur_Pic_TXT" style="width:100%; height:550px;">
                <div class="TxtDroiteB_E" style="float:right; width:45%; height:auto; margin-bottom:0px;margin-right:35px;padding-right:30px;">
                    <text style="font-size:30px;font-weight: ; background:#9b59b6; color:white; "> Il n'est jamais trop tard pour agir </text>
                    </br>
                    <text>Agressivité par : peur ? irritation ? territorial ? prédation ?</text>
                    </br>
                    <text>Les maîtres sont généralement dépassés par les troubles comportementaux tel que l'agressivité. Les premiers signes d'un chien agressif sont les grognements ou le refus d'obéir. Nous devons agir avant la morsure car elle peut arriver très rapidement. </text>
                    </br>
                    <text>Le chien peut être agressif pour plusieurs raisons, comportement inapproprié envers la relation maître/chien, caractère très dominant ou traumatisme. La chose la plus importante à retenir est que vous ne changez pas un chien agressif, vous apprenez à le contrôler et à le comprendre.
</text>
                    </br>
                    <text>Si vous rencontrez un comportement inhabituel chez votre chien, assurez-vous d'en tenir compte le plus tôt possible, plus tôt il sera prit en charge, plus tôt vous trouverez un chien bien dans ses pattes. </text>
                    </br>
                </div>
                
                <div class="PicSupperpo3" style="margin-top:-40px;width:50%; height:550px; margin-left:0px; float:left;">
                    <img class="Pic1" style="width:300px;  height:300px; margin-top:-100px; border-radius:10px;"src="{{asset('PhotoChienAgressif/ChienAgressif1.jpg')}}"/>
                    <img class="Pic3"style="width:330px;  height:250px; margin-left:-50px; margin-top:200px; border-radius:10px;"src="{{asset('PhotoChienAgressif/ChienAgressif4.jpg')}}"/>
                    <br>
                    <img class="Pic2"style="width:400px;  height:320px; margin-left:-70px;margin-top:-30px; border-radius:10px;"src="{{asset('PhotoChienAgressif/ChienAgressif3.jpg')}}"/>
                </div>

            </div>
        </div>

    

        <div class="PresentationActiviteResponsive">
      
            <div class="Conteneur_Pic_TXT" style="width:100%; height:auto;">
                    <text style="font-size:30px;font-weight: ; background:#9b59b6; color:white; "> Il n'est jamais trop tard pour agir </text>
                    </br>
                    <img  style="width:100%;  margin-left:auto; margin-right:auto; height:auto; margin-top:20px; border-radius:10px;"src="{{asset('PhotoChienAgressif/ChienAgressif1.jpg')}}"/>
                    <br>
                    <text>Agressivité par : peur ? irritation ? territorial ? prédation ?</text>
                    </br>
                    <text>Les maîtres sont généralement dépassés par les troubles comportementaux tel que l'agressivité. Les premiers signes d'un chien agressif sont les grognements ou le refus d'obéir. Nous devons agir avant la morsure car elle peut arriver très rapidement. </text>
                    <img class="Pic3"style="width:100%;  margin-left:auto; margin-right:auto; height:auto;  margin-top:10px; border-radius:10px;"src="{{asset('PhotoChienAgressif/ChienAgressif4.jpg')}}"/>
                    </br>
                    <text>Le chien peut être agressif pour plusieurs raisons, comportement inapproprié envers la relation maître/chien, caractère très dominant ou traumatisme. La chose la plus importante à retenir est que vous ne changez pas un chien agressif, vous apprenez à le contrôler et à le comprendre.</text>
                    </br>
                    <text>Si vous rencontrez un comportement inhabituel chez votre chien, assurez-vous d'en tenir compte le plus tôt possible, plus tôt il sera prit en charge, plus tôt vous trouverez un chien bien dans ses pattes. </text>
                    </br>
                    <img class="Pic2"style="width:100%;  margin-left:auto; margin-right:auto; height:auto;  margin-top:10px;border-radius:10px;"src="{{asset('PhotoChienAgressif/ChienAgressif3.jpg')}}"/>
               
            </div>    
        </div>


        <div class="CcspBilan">
        
            <div class="DivGauche">
                <div class="TitreHaut">
                </div>
                <div class="TitreTarif">
                    <text style="color:white; font-size:30px;">Réhabilitation de chien agréssif </text>
                </div>
                <div class="contenuTarif" >
                    <div class="Prix">
                        <text style=" text-align:;color:#9b59b6;font-size:25px;padding-top:150px;"></text>
                        <text style=" text-align:center;color:#9b59b6;font-size:90px;">70</text><text style="color:#9b59b6;font-size:20px;">€/jour</text>
                        <div class="Séparateur" style="border-bottom:3px solid #f1c40f; margin-left:42.3%;margin-right:auto;width:17%;  margin-top:-30px; margin-bottom:30px;height:30px;float:center;" ></div>
            
                    </div>
                    
                    <img style="width:25px; margin-left:15%; height:25px; float:left; "src="{{asset('ConseilAdoption/IconHorloge2.png')}}"/>
                    <text style=" color:#9b59b6;float:left; padding-left:25px; font-size:25px;">7 jours maximum</text>
                <br>
                    <div style="margin-top:20px;"></div>

                    <img style="width:25px;  margin-left:25%;height:25px; float:left;  "src="{{asset('ConseilAdoption/IconHome2.png')}}"/>
                    <text style=" color:#9b59b6;float:left; padding-left:25px;font-size:25px;">à domicile</text>
                    <br>
                    
                    <div style=" margin-top:5%;"></div>
                    
                    <a href="http://192.168.1.20:10002/index.php/contact"class="ButtonService">Réserver <img style="width:25px;  height:25px;  "src="{{asset('PhotoBilan/IconFleche.png')}}"/></a>    
                </div>
            </div>

            <text style="font-size:40px;font-weight: normal; text-align:center; ">Comment </text><text style="font-size:45px;text-align:center; font-weight: normal; color:#9b59b6; "> ca se passe ?</text>
            <div class="Séparateur" style="padding-top:30px;border-bottom:2px solid #f1c40f; margin-left:450px;margin-right:auto;width:60%;   height:30px;float:center;" ></div>
            <div style="margin-bottom:2.5%;"></div>
            <img style="width:400px;  height:auto; margin-top:60px;float:right; border-radius:10px; margin-left:50px; margin-right:0px; "src="{{asset('PhotoChienAgressif/ChienAgressif.jpg')}}"/>

            <div style="float:right;   margin-left: ;width:35%; margin-top:45px;">
            <text>Dans un cas de trouble du comportement ou d’agressivité, la prise en charge reste à déterminer ensemble lors d’un bilan comportemental.</text>
            <br>
            <text>L’éducation se fait sans collier étrangleur, sans violence. Elle repose sur la création du lien entre le maître et son chien en adaptant l’un à l’autre et inversement pour créer un équilibre</text>
            </div>
               
           
        </div>

        <div class="CcspBilanResponsive">
        
            <text style="font-size:40px;font-weight: normal; text-align:center; ">Comment </text><text style="font-size:45px;text-align:center; font-weight: normal; color:#9b59b6; "> ca se passe ?</text>
            <div class="Séparateur" style="padding-top:30px;border-bottom:2px solid #f1c40f; margin-left:18%;margin-right:auto;width:60%;   height:30px;float:center;" ></div>
         


            <img style="width:100%;  height:auto; margin-top:60px;float:right; border-radius:10px; margin-left:auto; margin-right:auto; "src="{{asset('PhotoChienAgressif/ChienAgressif.jpg')}}"/>
           
            <div style="   margin-left:auto;margin-right:auto;width:100%; margin-top:45px;">
            <text>Dans un cas de trouble du comportement ou d’agressivité, la prise en charge reste à déterminer ensemble lors d’un bilan comportemental.<text>
            <br>
            <text>L’éducation se fait sans collier étrangleur, sans violence. Elle repose sur la création du lien entre le maître et son chien en adaptant l’un à l’autre et inversement pour créer un équilibre</text>
            </div>
               
           
        </div>


         <div class="ObjectifActivite">

             <text style="font-size:40px;font-weight: normal; text-align:center; ">Les </text><text style="font-size:45px;text-align:center; font-weight: normal; color:#9b59b6; "> objectifs</text>
            <div class="Séparateur" style="padding-top:30px;border-bottom:2px solid #f1c40f; margin-left:auto;margin-right:auto;width:60%;   height:30px;float:center;" ></div>
         
            <div class="TroisObjectifs">
                <div class="ActiviteGauche">
                    <img style="width:75px;  height:75px;  "src="{{asset('CoursCollectif/iconChienAgressif.png')}}"/>
                    </br>
                    <text style="padding-left:10px;">Identifier la raison de cette agressivité.</text>
                </div>
                
                <div class="ActiviteMilieu">
                    <img style="width:75px;  height:75px;  "src="{{asset('PhotoChienAgressif/IconChien2.png')}}"/>
                    </br>
                    <text style="padding-left:10px;">Vous soulager de cette contrainte.</text>
                </div>

                <div class="ActiviteDroite">
                    <img style="width:75px;  height:75px;   "src="{{asset('PhotoChienAgressif/IconMonde.png')}}"/>
                    </br>
                    <text style="padding-left:10px; ">Recrée une relation saine avec le monde.</text>
                </div>
            </div>
            <br>
            
        </div>

         <div class="ObjectifActiviteResponsive">

             <text style="font-size:40px;font-weight: normal; text-align:center; ">Les </text><text style="font-size:45px;text-align:center; font-weight: normal; color:#9b59b6; "> objectifs</text>
            <div class="Séparateur" style="padding-top:30px;border-bottom:2px solid #f1c40f; margin-left:auto;margin-right:auto;width:60%;   height:30px;float:center;" ></div>
                <div style="margin-top:50px;"></div>
                <img style="width:75px;  height:75px;  "src="{{asset('CoursCollectif/iconChienAgressif.png')}}"/>
                </br>
                <text style="padding-left:10px;">Identifier la raison de cette agressivité.</text>

                <br>
                <div class="Séparateur" style="padding-top:30px;border-bottom:1px solid #9b59b6; margin-left:auto;margin-right:auto;width:60%;   height:30px;float:center;" ></div>
                <div style="margin-top:20px;"></div>

                <img style="width:75px;  height:75px;  "src="{{asset('PhotoChienAgressif/IconChien2.png')}}"/>
                </br>
                <text style="padding-left:10px;">Vous soulager de cette contrainte.</text>
              
                <br>
                <div class="Séparateur" style="padding-top:30px;border-bottom:1px solid #9b59b6; margin-left:auto;margin-right:auto;width:60%;   height:30px;float:center;" ></div>
                <div style="margin-top:20px;"></div>

                <img style="width:75px;  height:75px;   "src="{{asset('PhotoChienAgressif/IconMonde.png')}}"/>
                </br>
                <text style="padding-left:10px; ">Recrée une relation saine avec le monde.</text>
                
                
                <div style="margin-top:15%;"></div>

                <div class="TitreTarif">
                        <text style="color:white; font-size:30px;">Conseil à l'adoption</text>
                    </div>
                    <div class="contenuTarifResponsive" >
                        <div class="Prix">
                            <text style=" text-align:;color:#9b59b6;font-size:25px;padding-top:150px;"></text>
                            <text style=" text-align:center;color:#9b59b6;font-size:90px;">70</text><text style="color:#9b59b6;font-size:20px;">€/jour</text>
                            <div class="Séparateur" style="border-bottom:3px solid #f1c40f; margin-left:42.3%;margin-right:auto;width:17%;  margin-top:-30px; margin-bottom:30px;height:30px;float:center;" ></div>
                
                        </div>
                        
                        <img style="width:25px; margin-left:25%; height:25px; float:left; "src="{{asset('ConseilAdoption/IconHorloge2.png')}}"/>
                        <text style=" color:#9b59b6;float:left; padding-left:25px; font-size:25px;">7 jours maximum</text>
                        <br>
                        <div style="margin-top:5%;"></div>

                        <img style="width:25px;  margin-left:25%;height:25px; float:left;  "src="{{asset('ConseilAdoption/IconHome2.png')}}"/>
                        <text style=" color:#9b59b6;float:left; padding-left:25px;font-size:25px;">à domicile</text>
                        <br>
                        
                        <div style=" margin-top:5%;"></div>
                        
                        <a href="http://192.168.1.20:10002/index.php/contact"class="ButtonService">Réserver <img style="width:25px;  height:25px;  "src="{{asset('PhotoBilan/IconFleche.png')}}"/></a>    
                    </div>
                </div>



        

    </div>
    
    
    

    

{% endblock %}
